## Please follow the below structure while attempting the hackathon, make sure to submit only one jupyter file with all the models, and you can always mention your best model by giving it the header as 'Best Model'.

## Please make sure to maintain the clarity of analysis in the notebook with proper headers and inisghts/inferences, so that it can be interpretable 


## Please follow the same format as mentioned below, as you will be evaluated basis on your Jupyter Notebook for L2 selection.

## Importing Necessary Libraries

In [61]:
import numpy as np
import pandas as pd

In [69]:
train_df=pd.read_csv("Data_Train.csv")
test_df=pd.read_csv("Data_Test.csv")

In [70]:
train_df.head()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,...,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,REN?,0,0,Business Teacher,...,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,REN?,0,0,driver,...,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,REN?,0,0,AvePoint,...,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,REN?,0,0,Lead Tester,...,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0

In [71]:
train_df.tail()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,...,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
87495,120884,4535984,II,>10yrs,Not Vfied,75680.00,REN?,0,0,Engineer Support II,...,whole,MI,12,32702.0,3 years,10012.05,debt consolidation,I,0.0,0
87496,33259,2624710,IV,3yrs,Source Verified,90423.52,REN?,0,0,Dental Hygienist,...,whole,MA,23,32204.0,5 years,24921.54,debt consolidation,I,0.0,0
87497,102153,5966919,II,>10yrs,Source Verified,91520.00,MOR??AGE,0,0,Interface Coordinator,...,fully paid,CT,8,29050.0,3 years,14517.90,debt consolidation,I,0.0,0
87498,115343,2630667,III,1yrs,Source Verified,61600.00,MOR??AGE,0,0,PARTS CLERK,...,whole,PA,11,24900.0,3 years,8454.24,debt consolidation,I,0.0,0
87499,104968,6637289,III,2yrs,Vfied,NaN,REN?,0,0,Outside sales rep,...,whole,California,7,21746.0,5 years,8717.58,debt consolidation,I,0.0,0

In [72]:
print("Rows: "+str(train_df.shape[0])+" & "+"Columns: "+str(train_df.shape[1]))

Rows: 87500 & Columns: 30

In [73]:
train_df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,87500.0,NaN,NaN,NaN,83946.253509,36100.10295,21560.0,52616.75,83900.0,115261.25,146559.0
Asst_Reg,87500.0,NaN,NaN,NaN,3798914.124149,2289038.082588,24847.0,1483874.25,4132010.5,5952908.75,7351847.0
GGGrade,87500,7,II,24966,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Experience,87500,11,>10yrs,30849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Validation,87500,3,Source Verified,34504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly Income,81925.0,NaN,NaN,NaN,134859.62978,98824.725562,8800.0,83246.592,114400.0,160160.0,8264030.72
Home Status,87500,5,MOR??AGE,44160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unpaid 2 years,87500.0,NaN,NaN,NaN,0.332937,0.87608,0.0,0.0,0.0,0.0,18.0
Already Defaulted,87500.0,NaN,NaN,NaN,0.005726,0.083505,0.0,0.0,0.0,0.0,6.0
Designation,86086,40354,School Teacher,1585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debt to Income,84011.0,NaN,NaN,NaN,30.94266,14.079813,0.0,20.4288,30.1392,40.908,639.2904
Postal Code,86111.0,NaN,NaN,NaN,51155.385491,31211.22993,1000.0,22900.0,47700.0,80200.0,99900.0
Lend Amount,87500.0,NaN,NaN,NaN,25920.53568,14433.837213,1710.0,15048.0,23940.0,34200.0,59850.0
Deprecatory Records,87500.0,NaN,NaN,NaN,0.2024,0.646414,0.0,0.0,0.0,0.0,86.0
Interest Charged,87500.0,NaN,NaN,NaN,16.518375,4.902011,8.0,12.31,16.49,20.77,25.0
Usage Rate,87500.0,NaN,NaN,NaN,95.517348,40.554035,0.0,66.048,97.008,126.592,1534.756
Inquiries,87500.0,NaN,NaN,NaN,0.67064,0.959572,0.0,0.0,0.0,1.0,8.0
Present Balance,87500.0,NaN,NaN,NaN,236389.464783,255056.781907,0.0,51734.93,138806.225,353475.54,5629234.33
Gross Collection,87500.0,NaN,NaN,NaN,39.461697,391.919578,0.0,0.0,0.0,0.0,26308.47
Sub GGGrade,87500.0,NaN,NaN,NaN,22.024891,6.452697,11.0,17.0,21.0,26.0,45.0
File Status,87500,2,whole,46300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,87500,49,California,12625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Account Open,87500.0,NaN,NaN,NaN,12.77944,5.37116,2.0,9.0,12.0,16.0,83.0
Total Unpaid CL,83314.0,NaN,NaN,NaN,53268.640394,53255.513914,332.0,23240.0,39674.0,66400.0,1710630.0
Duration,87500,2,3 years,60061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unpaid Amount,82648.0,NaN,NaN,NaN,29556.494524,37456.245062,0.0,11446.74,20892.78,36449.0775,1338777.81
Reason,87500,13,debt consolidation,52559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Claim Type,87500,2,I,87454,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Due Fee,87500.0,NaN,NaN,NaN,0.316407,3.546087,0.0,0.0,0.0,0.0,169.05
Loan/No Loan,87500.0,NaN,NaN,NaN,0.188709,0.391279,0.0,0.0,0.0,0.0,1.0

In [74]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87500 entries, 0 to 87499
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   87500 non-null  int64
 1   Asst_Reg             87500 non-null  int64
 2   GGGrade              87500 non-null  object
 3   Experience           87500 non-null  object
 4   Validation           87500 non-null  object
 5   Yearly Income        81925 non-null  float64
 6   Home Status          87500 non-null  object
 7   Unpaid 2 years       87500 non-null  int64
 8   Already Defaulted    87500 non-null  int64
 9   Designation          86086 non-null  object
 10  Debt to Income       84011 non-null  float64
 11  Postal Code          86111 non-null  float64
 12  Lend Amount          87500 non-null  float64
 13  Deprecatory Records  87500 non-null  int64
 14  Interest Charged     87500 non-null  float64
 15  Usage Rate           87500 non-null  float64
 16  Inquiries            87500 non-null  int64
 17  Present Balance      87500 non-null  float64
 18  Gross Collection     87500 non-null  float64
 19  Sub GGGrade          87500 non-null  int64
 20  File Status          87500 non-null  object
 21  State                87500 non-null  object
 22  Account Open         87500 non-null  int64
 23  Total Unpaid CL      83314 non-null  float64
 24  Duration             87500 non-null  object
 25  Unpaid Amount        82648 non-null  float64
 26  Reason               87500 non-null  object
 27  Claim Type           87500 non-null  object
 28  Due Fee              87500 non-null  float64
 29  Loan/No Loan         87500 non-null  int64
dtypes: float64(11), int64(9), object(10)
memory usage: 20.0+ MB

In [76]:
train_df.isnull().sum()

ID                        0
Asst_Reg                  0
GGGrade                   0
Experience                0
Validation                0
Yearly Income          5575
Home Status               0
Unpaid 2 years            0
Already Defaulted         0
Designation            1414
Debt to Income         3489
Postal Code            1389
Lend Amount               0
Deprecatory Records       0
Interest Charged          0
Usage Rate                0
Inquiries                 0
Present Balance           0
Gross Collection          0
Sub GGGrade               0
File Status               0
State                     0
Account Open              0
Total Unpaid CL        4186
Duration                  0
Unpaid Amount          4852
Reason                    0
Claim Type                0
Due Fee                   0
Loan/No Loan              0
dtype: int64

In [80]:
train_df.dropna(inplace=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68505 entries, 0 to 87498
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   68505 non-null  int64
 1   Asst_Reg             68505 non-null  int64
 2   GGGrade              68505 non-null  object
 3   Experience           68505 non-null  object
 4   Validation           68505 non-null  object
 5   Yearly Income        68505 non-null  float64
 6   Home Status          68505 non-null  object
 7   Unpaid 2 years       68505 non-null  int64
 8   Already Defaulted    68505 non-null  int64
 9   Designation          68505 non-null  object
 10  Debt to Income       68505 non-null  float64
 11  Postal Code          68505 non-null  float64
 12  Lend Amount          68505 non-null  float64
 13  Deprecatory Records  68505 non-null  int64
 14  Interest Charged     68505 non-null  float64
 15  Usage Rate           68505 non-null  float64
 16  Inquiries            68505 non-null  int64
 17  Present Balance      68505 non-null  float64
 18  Gross Collection     68505 non-null  float64
 19  Sub GGGrade          68505 non-null  int64
 20  File Status          68505 non-null  object
 21  State                68505 non-null  object
 22  Account Open         68505 non-null  int64
 23  Total Unpaid CL      68505 non-null  float64
 24  Duration             68505 non-null  object
 25  Unpaid Amount        68505 non-null  float64
 26  Reason               68505 non-null  object
 27  Claim Type           68505 non-null  object
 28  Due Fee              68505 non-null  float64
 29  Loan/No Loan         68505 non-null  int64
dtypes: float64(11), int64(9), object(10)
memory usage: 16.2+ MB

In [79]:
train_df.corr()

,ID,Asst_Reg,Yearly Income,Unpaid 2 years,Already Defaulted,Debt to Income,Postal Code,Lend Amount,Deprecatory Records,Interest Charged,Usage Rate,Inquiries,Present Balance,Gross Collection,Sub GGGrade,Account Open,Total Unpaid CL,Unpaid Amount,Due Fee,Loan/No Loan
ID,1.000000,-0.004232,-0.002954,-0.000838,0.006410,-0.001687,-0.002539,-0.001500,-0.000352,0.000441,0.000641,-0.001699,0.005322,-0.000138,-0.005820,0.000952,0.003739,0.004036,-0.002621,0.001636
Asst_Reg,-0.004232,1.000000,0.036625,0.036358,0.008668,0.088797,-0.015534,0.037526,0.063968,-0.003003,-0.074336,-0.110090,0.010424,-0.108796,-0.025286,0.055692,0.061365,0.033218,-0.066383,-0.415039
Yearly Income,-0.002954,0.036625,1.000000,0.051989,0.015004,-0.227349,-0.005954,0.410832,-0.007496,0.001859,0.047828,0.047967,0.509145,0.013993,-0.092394,0.158822,0.366515,0.373161,0.011635,-0.001667
Unpaid 2 years,-0.000838,0.036358,0.051989,1.000000,0.139745,-0.016802,-0.030803,-0.015491,-0.013334,0.000244,-0.016389,0.032887,0.062563,0.001272,0.059506,0.046248,-0.049409,-0.036141,0.023499,-0.028419
Already Defaulted,0.006410,0.008668,0.015004,0.139745,1.000000,0.002987,-0.006580,-0.001469,0.001924,-0.000999,-0.029705,-0.006015,0.018236,0.001084,0.030263,0.015758,0.009204,-0.001298,0.011941,-0.007118
Debt to Income,-0.001687,0.088797,-0.227349,-0.016802,0.002987,1.000000,0.006881,0.030387,-0.061234,-0.002150,0.159477,-0.003270,-0.009675,0.005480,0.174689,0.289489,0.083962,0.136171,-0.001771,-0.088414
Postal Code,-0.002539,-0.015534,-0.005954,-0.030803,-0.006580,0.006881,1.000000,-0.007362,-0.008640,-0.001504,0.011908,0.006919,-0.010834,0.009456,-0.010189,-0.049042,-0.035586,-0.028489,-0.002879,0.034917
Lend Amount,-0.001500,0.037526,0.410832,-0.015491,-0.001469,0.030387,-0.007362,1.000000,-0.090159,-0.002594,0.114702,-0.027013,0.322265,0.068381,0.146324,0.180178,0.356214,0.347678,0.035481,-0.059794
Deprecatory Records,-0.000352,0.063968,-0.007496,-0.013334,0.001924,-0.061234,-0.008640,-0.090159,1.000000,0.004287,-0.091972,0.077999,-0.074422,-0.012882,0.058282,-0.026180,-0.115037,-0.109422,-0.009801,-0.022095
Interest Charged,0.000441,-0.003003,0.001859,0.000244,-0.000999,-0.002150,-0.001504,-0.002594,0.004287,1.000000,-0.001193,-0.003099,-0.001494,-0.001891,-0.006024,0.001120,0.006610,0.006321,-0.000564,0.007391
Usage Rate,0.000641,-0.074336,0.047828,-0.016389,-0.029705,0.159477,0.011908,0.114702,-0.091972,-0.001193,1.000000,-0.088644,0.078891,0.026799,0.230008,-0.160643,-0.134387,0.221322,0.026311,-0.030103
Inquiries,-0.001699,-0.110090,0.047967,0.032887,-0.006015,-0.003270,0.006919,-0.027013,0.077999,-0.003099,-0.088644,1.000000,0.034979,0.039243,0.238025,0.132691,0.004071,-0.022185,0.018855,0.076210
Present Balance,0.005322,0.010424,0.509145,0.062563,0.018236,-0.009675,-0.010834,0.322265,-0.074422,-0.001494,0.078891,0.034979,1.000000,0.006020,-0.084117,0.245132,0.404991,0.434758,0.008180,0.011881
Gross Collection,-0.000138,-0.108796,0.013993,0.001272,0.001084,0.005480,0.009456,0.068381,-0.012882,-0.001891,0.026799,0.039243,0.006020,1.000000,0.083658,-0.003140,0.001371,0.012965,0.055741,-0.047680
Sub GGGrade,-0.005820,-0.025286,-0.092394,0.059506,0.030263,0.174689,-0.010189,0.146324,0.058282,-0.006024,0.230008,0.238025,-0.084117,0.083658,1.000000,-0.006375,-0.181548,-0.043870,0.056341,-0.021173
Account Open,0.000952,0.055692,0.158822,0.046248,0.015758,0.289489,-0.049042,0.180178,-0.026180,0.001120,-0.160643,0.132691,0.245132,-0.003140,-0.006375,1.000000,0.370929,0.224042,-0.001825,-0.031307
Total Unpaid CL,0.003739,0.061365,0.366515,-0.049409,0.009204,0.083962,-0.035586,0.356214,-0.115037,0.006610,-0.134387,0.004071,0.404991,0.001371,-0.181548,0.370929,1.000000,0.828195,-0.012066,-0.027093
Unpaid Amount,0.004036,0.033218,0.373161,-0.036141,-0.001298,0.136171,-0.028489,0.347678,-0.109422,0.006321,0.221322,-0.022185,0.434758,0.012965,-0.043870,0.224042,0.828195,1.000000,-0.004176,-0.036089
Due Fee,-0.002621,-0.066383,0.011635,0.023499,0.011941,-0.001771,-0.002879,0.035481,-0.009801,-0.000564,0.026311,0.018855,0.008180,0.055741,0.056341,-0.001825,-0.012066,-0.004176,1.000000,-0.017951
Loan/No Loan,0.001636,-0.415039,-0.001667,-0.028419,-0.007118,-0.088414,0.034917,-0.059794,-0.022095,0.007391,-0.030103,0.076210,0.011881,-0.047680,-0.021173,-0.031307,-0.027093,-0.036089,-0.017951,1.000000

In [82]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(train_df)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [83]:
enc.categories_

[array([ 21560,  21562,  21563, ..., 146556, 146558, 146559], dtype=int64),
 array([  24847,   30038,   37601, ..., 7351813, 7351831, 7351847],
       dtype=int64),
 array(['I', 'II', 'III', 'IV', 'V', 'VI', 'VII'], dtype=object),
 array(['1yrs', '2yrs', '3yrs', '4yrs', '5yrs', '6yrs', '7yrs', '8yrs',
        '9yrs', '<1yr', '>10yrs'], dtype=object),
 array(['Not Vfied', 'Source Verified', 'Vfied'], dtype=object),
 array([   8800.  ,   14615.04,   14784.  , ..., 2640000.  , 4400000.  ,
        5280000.  ]),
 array(['MOR??AGE', 'NONE', 'OTHER', 'OWN', 'REN?'], dtype=object),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        18], dtype=int64),
 array([0, 1, 2, 3, 4, 5, 6], dtype=int64),
 array(['(CDL) Bus Driver', '(LAUSD) Lynwood high', '0-3', ..., 'zms',
        'zone manager', 'zookeeper'], dtype=object),
 array([0.000000e+00, 1.344000e-01, 1.512000e-01, ..., 7.613760e+01,
        1.206576e+02, 6.392904e+02]),
 array([ 1000.,  1100.,  1200.,  1300.,  1400.,  1500.,  1600.,  1700.,
         1800.,  1900.,  2000.,  2100.,  2200.,  2300.,  2400.,  2500.,
         2600.,  2700.,  2800.,  2900.,  3000.,  3100.,  3200.,  3300.,
         3400.,  3500.,  3600.,  3700.,  3800.,  3900.,  4000.,  4100.,
         4200.,  4400.,  4500.,  4600.,  4700.,  4800.,  4900.,  5000.,
         5100.,  5200.,  5300.,  5400.,  5600.,  5700.,  5800.,  6000.,
         6100.,  6200.,  6300.,  6400.,  6500.,  6600.,  6700.,  6800.,
         6900.,  7000.,  7100.,  7200.,  7300.,  7400.,  7500.,  7600.,
         7700.,  7800.,  7900.,  8000.,  8100.,  8200.,  8300.,  8400.,
         8500.,  8600.,  8700.,  8800.,  8900.,  9000.,  9100.,  9400.,
         9600., 10000., 10100., 10200., 10300., 10400., 10500., 10600.,
        10700., 10800., 10900., 11000., 11100., 11200., 11300., 11400.,
        11500., 11600., 11700., 11800., 11900., 12000., 12100., 12200.,
        12300., 12400., 12500., 12600., 12700., 12800., 12900., 13000.,
        13100., 13200., 13300., 13400., 13500., 13600., 13700., 13800.,
        13900., 14000., 14100., 14200., 14300., 14400., 14500., 14600.,
        14700., 14800., 14900., 15000., 15100., 15200., 15300., 15400.,
        15500., 15600., 15700., 15800., 15900., 16000., 16100., 16200.,
        16300., 16400., 16500., 16600., 16700., 16800., 16900., 17000.,
        17100., 17200., 17300., 17400., 17500., 17600., 17700., 17800.,
        17900., 18000., 18100., 18200., 18300., 18400., 18500., 18600.,
        18700., 18800., 18900., 19000., 19100., 19300., 19400., 19500.,
        19600., 19700., 19800., 19900., 20000., 20100., 20600., 20700.,
        20800., 20900., 21000., 21100., 21200., 21400., 21500., 21600.,
        21700., 21800., 21900., 22000., 22100., 22200., 22300., 22400.,
        22500., 22600., 22700., 22800., 22900., 23000., 23100., 23200.,
        23300., 23400., 23500., 23600., 23700., 23800., 23900., 24000.,
        24100., 24200., 24300., 24400., 24500., 24600., 24700., 24800.,
        24900., 25000., 25100., 25200., 25300., 25400., 25500., 25600.,
        25700., 25800., 25900., 26000., 26100., 26200., 26300., 26400.,
        26500., 26600., 26700., 26800., 27000., 27100., 27200., 27300.,
        27400., 27500., 27600., 27700., 27800., 27900., 28000., 28100.,
        28200., 28300., 28400., 28500., 28600., 28700., 28800., 28900.,
        29000., 29100., 29200., 29300., 29400., 29500., 29600., 29700.,
        29800., 29900., 30000., 30100., 30200., 30300., 30400., 30500.,
        30600., 30700., 30800., 30900., 31000., 31100., 31200., 31300.,
        31400., 31500., 31600., 31700., 31800., 31900., 32000., 32100.,
        32200., 32300., 32400., 32500., 32600., 32700., 32800., 32900.,
        33000., 33100., 33200., 33300., 33400., 33500., 33600., 33700.,
        33800., 33900., 34100., 34200., 34300., 34400., 34600., 34700.,
        34900., 35000., 35100., 35200., 35400., 35500., 35600., 35700.,
        35800., 35900., 36000., 36100., 36200., 36300., 36400., 36500.,
        36600., 36700., 36800., 36900., 37000., 37100., 37200., 37300.,
        37400., 37600., 37700., 37800., 37900., 38000., 38100., 38200.,
        38300., 38400., 38500., 38600., 38700., 38800., 38900., 39000.,
        39100., 39200., 39300., 39400., 39500., 39600., 39700., 39800.,
        40000., 40100., 40200., 40300., 40400., 40500., 40600., 40700.,
        40800., 40900., 41000., 41100., 41200., 41300., 41400., 41500.,
        41600., 41700., 41800., 42000., 42100., 42200., 42300., 42400.,
        42500., 42600., 42700., 43000., 43100., 43200., 43300., 43400.,
        43500., 43600., 43700., 43800., 43900., 44000., 44100., 44200.,
        44300., 44400., 44500., 44600., 44700., 44800., 44900., 45000.,
        45100., 45200., 45300., 45400., 45500., 45600., 45700., 45800.,
        46000., 46100., 46200., 46300., 46400., 46500., 46600., 46700.,
        46800., 46900., 47000., 47100., 47200., 47300., 47400., 47500.,
        47600., 47700., 47800., 47900., 48000., 48100., 48200., 48300.,
        48400., 48500., 48600., 48700., 48800., 48900., 49000., 49100.,
        49200., 49300., 49400., 49500., 49600., 49700., 49800., 49900.,
        50000., 52700., 53000., 53100., 53200., 53400., 53500., 53700.,
        53800., 53900., 54000., 54100., 54200., 54300., 54400., 54500.,
        54600., 54700., 54800., 54900., 55000., 55100., 55300., 55400.,
        55600., 55700., 55800., 55900., 56000., 56100., 56200., 56300.,
        56400., 56500., 56600., 56700., 57000., 57100., 57200., 57300.,
        57400., 57500., 57600., 57700., 58000., 58100., 58200., 58300.,
        58500., 58600., 58700., 58800., 59000., 59100., 59200., 59300.,
        59400., 59500., 59600., 59700., 59800., 59900., 60000., 60100.,
        60200., 60300., 60400., 60500., 60600., 60700., 60800., 60900.,
        61000., 61100., 61200., 61300., 61400., 61500., 61600., 61700.,
        61800., 61900., 62000., 62200., 62300., 62400., 62500., 62600.,
        62700., 62800., 62900., 63000., 63100., 63300., 63400., 63500.,
        63600., 63700., 63800., 63900., 64000., 64100., 64400., 64500.,
        64600., 64700., 64800., 65000., 65100., 65200., 65300., 65400.,
        65500., 65600., 65700., 65800., 66000., 66100., 66200., 66400.,
        66500., 66600., 66700., 66800., 67000., 67100., 67200., 67300.,
        67400., 67500., 67600., 67700., 67800., 67900., 68000., 68100.,
        68300., 68400., 68500., 68600., 68700., 68800., 68900., 69000.,
        69100., 69300., 70000., 70100., 70300., 70400., 70500., 70600.,
        70700., 70800., 71000., 71100., 71200., 71300., 71400., 71600.,
        71700., 71800., 71900., 72000., 72100., 72200., 72300., 72400.,
        72500., 72600., 72700., 72800., 72900., 73000., 73100., 73400.,
        73500., 73600., 73700., 73800., 73900., 74000., 74100., 74300.,
        74400., 74500., 74600., 74700., 74800., 74900., 75000., 75100.,
        75200., 75300., 75400., 75500., 75600., 75700., 75800., 75900.,
        76000., 76100., 76200., 76300., 76400., 76500., 76600., 76700.,
        76800., 76900., 77000., 77200., 77300., 77400., 77500., 77600.,
        77700., 77800., 77900., 78000., 78100., 78200., 78300., 78400.,
        78500., 78600., 78700., 78800., 78900., 79000., 79100., 79200.,
        79300., 79400., 79500., 79600., 79700., 79800., 79900., 80000.,
        80100., 80200., 80300., 80400., 80500., 80600., 80700., 80800.,
        80900., 81000., 81100., 81200., 81300., 81400., 81500., 81600.,
        82000., 82200., 82300., 82400., 82500., 82600., 82700., 82800.,
        82900., 83000., 83100., 83600., 83800., 84000., 84100., 84300.,
        84400., 84500., 84600., 84700., 85000., 85100., 85200., 85300.,
        85500., 85600., 85700., 85900., 86000., 86300., 86400., 86500.,
        87000., 87100., 87300., 87400., 87500., 87700., 87800., 88000.,
        88100., 88200., 88300., 88400., 89000., 89100., 89300., 89400.,
        89500., 89700., 89800., 90000., 90200., 90300., 90400., 90500.,
        90600., 90700., 90800., 91000., 91100., 91200., 91300., 91400.,
        91500., 91600., 91700., 91800., 91900., 92000., 92100., 92200.,
        92300., 92400., 92500., 92600., 92700., 92800., 93000., 93100.,
        93200., 93300., 93400., 93500., 93600., 93700., 93900., 94000.,
        94100., 94200., 94300., 94400., 94500., 94600., 94700., 94800.,
        94900., 95000., 95100., 95200., 95300., 95400., 95500., 95600.,
        95700., 95800., 95900., 96000., 96100., 96200., 96500., 96700.,
        96800., 97000., 97100., 97200., 97300., 97400., 97500., 97600.,
        97700., 97800., 97900., 98000., 98100., 98200., 98300., 98400.,
        98500., 98600., 98800., 98900., 99000., 99100., 99200., 99300.,
        99500., 99600., 99700., 99800., 99900.]),
 array([ 1710.  ,  1795.5 ,  1838.25, ..., 59721.75, 59807.25, 59850.  ]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 15, 16],
       dtype=int64),
 array([ 8.  ,  8.01,  8.02, ..., 24.98, 24.99, 25.  ]),
 array([0.000000e+00, 1.720000e-01, 3.440000e-01, ..., 2.309960e+02,
        2.626440e+02, 1.534756e+03]),
 array([0, 1, 2, 3, 4, 5, 6, 8], dtype=int64),
 array([0.00000000e+00, 1.00200000e+01, 2.50500000e+01, ...,
        3.97097944e+06, 4.18239476e+06, 5.62923433e+06]),
 array([0.000000e+00, 1.080000e+01, 1.086000e+01, ..., 2.050214e+04,
        2.109630e+04, 2.630847e+04]),
 array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
        28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
        45], dtype=int64),
 array(['fully paid', 'whole'], dtype=object),
 array(['AK', 'AL', 'AR', 'AZ', 'CO', 'CT', 'California', 'DC', 'DE',
        'Florida', 'GA', 'HI', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'ME',
        'MI', 'MN', 'MO', 'MS', 'MT', 'Maryland', 'NC', 'ND', 'NE', 'NH',
        'NM', 'NV', 'NewJersey', 'Newyork', 'OK', 'OR', 'Ohio', 'PA', 'RI',
        'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
       dtype=object),
 array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
        54, 56, 57, 63, 65, 80, 83], dtype=int64),
 array([3.320000e+02, 4.980000e+02, 6.640000e+02, ..., 1.518734e+06,
        1.682742e+06, 1.710630e+06]),
 array(['3 years', '5 years'], dtype=object),
 array([0.00000000e+00, 1.71000000e+00, 3.42000000e+00, ...,
        1.14117876e+06, 1.14378651e+06, 1.33877781e+06]),
 array(['car', 'credit  card', 'debt  consolidation', 'home  improvement',
        'house', 'major  purchase', 'medical', 'moving', 'other',
        'renewable  energy', 'small  business', 'vacation', 'wedding'],
       dtype=object),
 array(['I', 'J'], dtype=object),
 array([0.00000000e+00, 1.00000000e-02, 8.70000000e-01, 1.47100000e+01,
        1.49454947e+01, 1.49473584e+01, 1.49495933e+01, 1.49502600e+01,
        1.49621193e+01, 1.49761676e+01, 1.49824462e+01, 1.49832300e+01,
        1.49851565e+01, 1.49863425e+01, 1.49882300e+01, 1.49921956e+01,
        1.49924847e+01, 1.49937900e+01, 1.49959800e+01, 1.49984826e+01,
        1.49985323e+01, 1.50000000e+01, 1.50000000e+01, 1.51000000e+01,
        1.51100000e+01, 1.51600000e+01, 1.52100000e+01, 1.52200000e+01,
        1.52400000e+01, 1.52600000e+01, 1.52900000e+01, 1.53400000e+01,
        1.55200000e+01, 1.55400000e+01, 1.55600000e+01, 1.55700000e+01,
        1.56000000e+01, 1.56500000e+01, 1.56700000e+01, 1.56885106e+01,
        1.57500000e+01, 1.57700000e+01, 1.58700000e+01, 1.58800000e+01,
        1.58900000e+01, 1.59300000e+01, 1.59400000e+01, 1.59800000e+01,
        1.59855800e+01, 1.60495072e+01, 1.62500000e+01, 1.63700000e+01,
        1.64000000e+01, 1.64200000e+01, 1.64600000e+01, 1.65000000e+01,
        1.65300000e+01, 1.66400000e+01, 1.66500000e+01, 1.66800000e+01,
        1.67000000e+01, 1.67200000e+01, 1.67200000e+01, 1.67900000e+01,
        1.68700000e+01, 1.69300000e+01, 1.70000000e+01, 1.70100000e+01,
        1.71300000e+01, 1.71700000e+01, 1.71900000e+01, 1.72100000e+01,
        1.72600000e+01, 1.72992499e+01, 1.73300000e+01, 1.73892700e+01,
        1.74400000e+01, 1.74800000e+01, 1.75700000e+01, 1.75900000e+01,
        1.76100000e+01, 1.76300000e+01, 1.76500000e+01, 1.80000000e+01,
        1.80200000e+01, 1.80600000e+01, 1.80800000e+01, 1.80900000e+01,
        1.81400000e+01, 1.82300000e+01, 1.82400000e+01, 1.83100000e+01,
        1.83300000e+01, 1.83400000e+01, 1.83500000e+01, 1.83600000e+01,
        1.84000000e+01, 1.84100000e+01, 1.84500000e+01, 1.86000000e+01,
        1.86100000e+01, 1.87700000e+01, 1.87900000e+01, 1.88100000e+01,
        1.88400000e+01, 1.88500000e+01, 1.89825100e+01, 1.90300000e+01,
        1.90400000e+01, 1.90900000e+01, 1.91500000e+01, 1.94300000e+01,
        1.95600000e+01, 1.95900000e+01, 1.96700000e+01, 1.97700000e+01,
        1.98200000e+01, 1.98700000e+01, 1.99300000e+01, 2.00000000e+01,
        2.01300000e+01, 2.01500000e+01, 2.02100000e+01, 2.03200000e+01,
        2.03485000e+01, 2.03700000e+01, 2.03900000e+01, 2.04100000e+01,
        2.04950051e+01, 2.05000000e+01, 2.05100000e+01, 2.05400000e+01,
        2.06000000e+01, 2.06400000e+01, 2.06500000e+01, 2.06800000e+01,
        2.07000000e+01, 2.07100000e+01, 2.07200000e+01, 2.07600000e+01,
        2.08000000e+01, 2.08600000e+01, 2.09100000e+01, 2.09800000e+01,
        2.10800000e+01, 2.11900000e+01, 2.13200000e+01, 2.14200000e+01,
        2.15600000e+01, 2.15800000e+01, 2.16300000e+01, 2.18400000e+01,
        2.19700000e+01, 2.20000000e+01, 2.20100000e+01, 2.20700000e+01,
        2.22300000e+01, 2.22400000e+01, 2.22600000e+01, 2.22800000e+01,
        2.23000000e+01, 2.23100000e+01, 2.23600000e+01, 2.24000000e+01,
        2.24200000e+01, 2.24500000e+01, 2.27500000e+01, 2.28000000e+01,
        2.29800000e+01, 2.32400000e+01, 2.32600000e+01, 2.32900001e+01,
        2.33000000e+01, 2.33100000e+01, 2.33160000e+01, 2.34800000e+01,
        2.35300000e+01, 2.35600000e+01, 2.35700000e+01, 2.35800000e+01,
        2.37000000e+01, 2.37900000e+01, 2.38200000e+01, 2.38600000e+01,
        2.39200000e+01, 2.40400000e+01, 2.41100000e+01, 2.42100000e+01,
        2.42500000e+01, 2.42509745e+01, 2.43400000e+01, 2.43700000e+01,
        2.44700000e+01, 2.45500000e+01, 2.45500001e+01, 2.45800000e+01,
        2.47400000e+01, 2.47700000e+01, 2.49400000e+01, 2.49600000e+01,
        2.50000000e+01, 2.50100000e+01, 2.50900000e+01, 2.51600000e+01,
        2.53200000e+01, 2.53900000e+01, 2.54200000e+01, 2.54300000e+01,
        2.55300000e+01, 2.56000000e+01, 2.56280062e+01, 2.56900000e+01,
        2.57000000e+01, 2.58100000e+01, 2.58400000e+01, 2.58900000e+01,
        2.59300000e+01, 2.60500000e+01, 2.60700000e+01, 2.61100000e+01,
        2.62200000e+01, 2.62500000e+01, 2.64600000e+01, 2.66500000e+01,
        2.66900000e+01, 2.67600000e+01, 2.68000000e+01, 2.69021951e+01,
        2.69792500e+01, 2.70500000e+01, 2.71100000e+01, 2.71400000e+01,
        2.72799800e+01, 2.73000000e+01, 2.73700000e+01, 2.73800000e+01,
        2.74500000e+01, 2.74700000e+01, 2.74800000e+01, 2.74900000e+01,
        2.76900000e+01, 2.78900000e+01, 2.79700000e+01, 2.80200000e+01,
        2.80500000e+01, 2.81200000e+01, 2.81600000e+01, 2.81800000e+01,
        2.82625006e+01, 2.83000000e+01, 2.83600000e+01, 2.84400000e+01,
        2.84599999e+01, 2.86200000e+01, 2.87100000e+01, 2.87800000e+01,
        2.88400000e+01, 2.88800000e+01, 2.89300000e+01, 2.90200000e+01,
        2.92200000e+01, 2.92900000e+01, 2.94300000e+01, 2.95000000e+01,
        2.95100000e+01, 2.96200000e+01, 2.99090005e+01, 2.99513185e+01,
        2.99798600e+01, 2.99829407e+01, 2.99838130e+01, 3.00000000e+01,
        3.01400000e+01, 3.01900000e+01, 3.03200000e+01, 3.04700000e+01,
        3.06000000e+01, 3.06300000e+01, 3.06900000e+01, 3.08500000e+01,
        3.10600000e+01, 3.10800000e+01, 3.14200000e+01, 3.14400000e+01,
        3.14500000e+01, 3.14700000e+01, 3.16100000e+01, 3.16500000e+01,
        3.17000000e+01, 3.17200000e+01, 3.17500000e+01, 3.17900000e+01,
        3.19000000e+01, 3.20300000e+01, 3.21100000e+01, 3.21500000e+01,
        3.22100000e+01, 3.22600000e+01, 3.23000000e+01, 3.23400000e+01,
        3.24400000e+01, 3.25100000e+01, 3.27300000e+01, 3.29600000e+01,
        3.30000000e+01, 3.31200000e+01, 3.31300000e+01, 3.31800000e+01,
        3.31900000e+01, 3.32100000e+01, 3.33500000e+01, 3.34000000e+01,
        3.34500000e+01, 3.35000000e+01, 3.37100000e+01, 3.37500000e+01,
        3.38500000e+01, 3.38600000e+01, 3.38800000e+01, 3.39800000e+01,
        3.40100000e+01, 3.40982542e+01, 3.41800000e+01, 3.42200000e+01,
        3.42600000e+01, 3.42900000e+01, 3.43400000e+01, 3.44000000e+01,
        3.44600000e+01, 3.44900000e+01, 3.48200000e+01, 3.48900000e+01,
        3.52300000e+01, 3.53000000e+01, 3.53700000e+01, 3.55700000e+01,
        3.55900000e+01, 3.60200000e+01, 3.62400000e+01, 3.64000000e+01,
        3.64300000e+01, 3.65800000e+01, 3.66800000e+01, 3.66900000e+01,
        3.67200000e+01, 3.68400000e+01, 3.68900000e+01, 3.69100000e+01,
        3.72100000e+01, 3.76045674e+01, 3.76800000e+01, 3.77200000e+01,
        3.80200000e+01, 3.81000000e+01, 3.81600000e+01, 3.83000000e+01,
        3.83078176e+01, 3.86400000e+01, 3.87400000e+01, 3.88600000e+01,
        3.92700000e+01, 3.95100000e+01, 3.96900000e+01, 3.98979908e+01,
        3.99582903e+01, 4.00000000e+01, 4.00600000e+01, 4.02605000e+01,
        4.05400000e+01, 4.07100000e+01, 4.10700000e+01, 4.13100000e+01,
        4.15500000e+01, 4.17200000e+01, 4.17900000e+01, 4.18800000e+01,
        4.22400000e+01, 4.23800000e+01, 4.25200000e+01, 4.27700000e+01,
        4.28300001e+01, 4.31200000e+01, 4.32800000e+01, 4.34800000e+01,
        4.40300000e+01, 4.40700000e+01, 4.41100000e+01, 4.43000000e+01,
        4.44500000e+01, 4.45700000e+01, 4.46700000e+01, 4.46800000e+01,
        4.49600000e+01, 4.50000000e+01, 4.51300000e+01, 4.52132389e+01,
        4.53200000e+01, 4.53300000e+01, 4.53700000e+01, 4.55900000e+01,
        4.56600000e+01, 4.58800000e+01, 4.59000000e+01, 4.65600000e+01,
        4.67000000e+01, 4.67400000e+01, 4.69000000e+01, 4.69200000e+01,
        4.69600000e+01, 4.73300000e+01, 4.79800000e+01, 4.85100000e+01,
        4.86800000e+01, 4.87800000e+01, 4.88000000e+01, 4.88800000e+01,
        4.90300000e+01, 4.91739968e+01, 4.95300000e+01, 4.95600000e+01,
        4.96300000e+01, 4.98000000e+01, 4.98700000e+01, 4.98900000e+01,
        5.01000000e+01, 5.01200000e+01, 5.03200000e+01, 5.03300000e+01,
        5.04300000e+01, 5.06200000e+01, 5.08500000e+01, 5.14800000e+01,
        5.16100000e+01, 5.19900000e+01, 5.29500000e+01, 5.39100000e+01,
        5.43700000e+01, 5.44528200e+01, 5.50700000e+01, 5.55400000e+01,
        5.64100000e+01, 5.64600000e+01, 5.79100000e+01, 5.89300000e+01,
        5.89600000e+01, 5.96300000e+01, 5.97600000e+01, 6.00000000e+01,
        6.06400000e+01, 6.11900000e+01, 6.19400000e+01, 6.23800000e+01,
        6.28800000e+01, 6.28900000e+01, 6.31600000e+01, 6.37400000e+01,
        6.38807300e+01, 6.50300000e+01, 6.52200000e+01, 6.66800000e+01,
        6.85600000e+01, 7.08300000e+01, 7.10000000e+01, 7.38400000e+01,
        7.42500000e+01, 7.50000000e+01, 7.51000000e+01, 7.54800000e+01,
        7.65800000e+01, 7.84800000e+01, 7.85600000e+01, 7.96100000e+01,
        8.09690300e+01, 8.16200000e+01, 8.20500000e+01, 8.27300000e+01,
        8.49200000e+01, 8.58500000e+01, 8.64775000e+01, 8.77200000e+01,
        9.33900000e+01, 9.35800000e+01, 9.62500000e+01, 9.94000000e+01,
        1.02480000e+02, 1.03440000e+02, 1.07820000e+02, 1.12600000e+02,
        1.16750000e+02, 1.17480000e+02, 1.21858500e+02, 1.30950000e+02,
        1.34780000e+02]),
 array([0, 1], dtype=int64)]

In [29]:
#As we dont know the yearly income of an individual we can't trust them with disbursing the loan. SO all the null values field of the rows are to be removed
train_df = train_df[train_df['Yearly Income'].notna()]

In [31]:
train_df.isnull().sum()

ID                        0
Asst_Reg                  0
GGGrade                   0
Experience                0
Validation                0
Yearly Income             0
Home Status               0
Unpaid 2 years            0
Already Defaulted         0
Designation            1342
Debt to Income         3257
Postal Code            1296
Lend Amount               0
Deprecatory Records       0
Interest Charged          0
Usage Rate                0
Inquiries                 0
Present Balance           0
Gross Collection          0
Sub GGGrade               0
File Status               0
State                     0
Account Open              0
Total Unpaid CL        3919
Duration                  0
Unpaid Amount          4549
Reason                    0
Claim Type                0
Due Fee                   0
Loan/No Loan              0
dtype: int64

In [33]:
train_df[["Designation",'Yearly Income']]

                          Designation  Yearly Income
0                     GLENDALE NISSAN      633600.00
1                    Business Teacher       85483.20
2                              driver       79200.00
3                            AvePoint       61600.00
4                         Lead Tester       68053.92
...                               ...            ...
87494  Technical Architecture Manager      246400.00
87495             Engineer Support II       75680.00
87496                Dental Hygienist       90423.52
87497           Interface Coordinator       91520.00
87498                     PARTS CLERK       61600.00

[81925 rows x 2 columns]

In [35]:
train_df['Yearly Income'].max()

8264030.72

In [36]:
train_df['Yearly Income'].min()

8800.0

In [37]:
df=train_df[train_df['Designation'].isna()]['Yearly Income']
df

38        70400.00
51        88000.00
74       112640.00
259       38329.28
357      220000.00
           ...
87303    133760.00
87305    149600.00
87310    198880.00
87337     70400.00
87490    112640.00
Name: Yearly Income, Length: 1342, dtype: float64

In [51]:
len(train_df['Designation'].value_counts())

38164

In [60]:
AvgSalDesignations={}
j=0
for i in train_df['Designation'].value_counts().iteritems():
    AvgSalDesignations[i[0]]=train_df[train_df['Designation']==i[0]]['Yearly Income'].mean()
    print(j)
    j=j+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864

1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926

KeyboardInterrupt:

In [59]:
AvgSalDesignations

{}

In [54]:
train_df['Home Status'].value_counts()

MOR??AGE    41381
REN?        32672
OWN          7862
OTHER           6
NONE            4
Name: Home Status, dtype: int64

In [56]:
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# train_df['Home Status'] = le.fit_transform(train_df['Home Status'])

In [57]:
# train_df['Home Status'].value_counts()

0    41381
4    32672
3     7862
2        6
1        4
Name: Home Status, dtype: int64

## 1 Data Cleaning

In this section you can do all the Data cleaning part of all necessary imputations and treatments

## 2 Exploratory Data Analyis

In this section you can talk about the plots and the insights you have generated from the data

## 3 Feature Engineering

In this section you can implement the feature engineering techniques for dimensionality reduction

## 4 Modelling + HyperParameter Tuning

In this you can build various ML models and try tuning the parameters involved to achieve better score

## Model 1

## Model 2 - Best Model

## Model 3